<%- include('header'); %>

  <div id="content">
    <div class="container-front">
      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h1 id="title-login">Login</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>

              <div class="modal-body">
                <form class="form-login">
                  <div class="error-message username-is-required" style="display: none;"><p>Username is required</p></div>
                  <div class="error-message" id='wrong-username-or-password' style="display: none;"><p>Wrong username or password</p></div>
                  <input id="username-login" type="text" placeholder="Username">

                  <div class="error-message password-is-required" style="display: none;"><p>Password is required</p></div>
        			    <input id="password-login" type="password" placeholder="Password">
               </form>
             </div>

             <div class="modal-footer">
               <button id="login-button" class="btn btn-primary" type="button">Login</button>
             </div>

           </div>
         </div>
       </div>

      <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h1 id="title-sign-up">Sign up</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>

            <div class="modal-body">
              <form class="form-sign-in">
                <div class="error-message username-is-required" style="display: none;"><p>Username is required</p></div>
                <div class="error-message" id='username-length' style="display: none;"><p>Username must be at least 3 characters long</p></div>
                <div class="error-message" id='username-already-in-use' style="display: none;"><p>Username already in use</p></div>
                <input id="username-sign-up" type="text" placeholder="Username">

                <div class="error-message" id='full-name-required' style="display: none;"><p>Enter your full name</p></div>
                <input id="name" type="text" placeholder="Full name">

                <div class="error-message password-is-required" style="display: none;"><p>Password is required</p></div>
                <div class="error-message" id='password-length' name='error message' style="display: none;"><p>Password must be at least 6 characters long</p></div>
          			<input id="password-sign-up" type="password" placeholder="Password">

                <div class="error-message" id='confirm-password-alert' style="display: none;"><p>Confirm your password</p></div>
                <div class="error-message" id='password-not-match' style="display: none;"><p>Password does not match the confirm password</p></div>
                <input id="verPassword" type="password" placeholder="Verify password">
                </form>
            </div>

            <div class="modal-footer">
              <button id="sign-up-button" class="btn btn-primary" type="button">Sign up</button>
            </div>

          </div>
        </div>
      </div>

      <div class="card-container">

        <div class="card add-card" style="width: 18rem;">
          <div class="card-body">
            <div class="plus-card">
              <svg height="30" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <a href="#" data-toggle="modal" data-target="#ModalAddNewBook">Add new book</a>
            </div>
          </div>
        </div>

        <div class="modal fade" id="ModalAddNewBook" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalAddBookTitle">Add new book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input id="title-add-book" type="text" name="" value="Title" required>
                <input id="author-add-book" type="text" name="" value="Author">
                <input id="description-add-book" type="textarea" name="" value="Description">
                <input id="category" type="text" name="" value="Category">
                <input id="isbn-add-book" type="text" name="" value="ISBN number">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save Book</button>
              </div>
            </div>
          </div>
        </div>

        <% books.forEach(function(book) { %>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
              <p class="card-text"><%= book.description %></p>
              <a href="#" class="card-link">Read</a>
              <a href="#" class="card-link">Add to my list</a>
            </div>
          </div>
        <% }); %>

      </div>

    </div>
  </div>
</div>

<script src="/scripts/signup.js"></script>
<%- include('footer'); %>
